html {
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to top, #ccc, #999);
  background-attachment: fixed;
  min-height: 100%;
}
canvas {
  border: 1px solid black;
  margin: 20px 0 0;
}
#logo {
  position: fixed;
  top: 10px;
  left: 10px;
  width: 50px;
  opacity: 0.3;
  transition: opacity, 0.2s;
}
#logo:hover {
  opacity: 1;
}
#content {
  height: 100%;
  width: min-content;
  margin: 0 auto;
  padding: 0 0 30px;
}
h1 {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 25px 0 0;
}
h2 {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 25px 0 0;
}
span {
  font-family: sans-serif;
  font-weight: bold;
}
p,
li,
a {
  font-family: sans-serif;
}
a {
  text-decoration: none;
}
ul {
  margin: 0 0 15px;
}
